@use './variables' as *;
@use './mixins' as *;

@font-face {
    font-family: 'AvenirNext LT Pro';
    src: url('/src/assets/fonts/AvenirNextLTPro-Bold.woff2') format('woff2'),
        url('/src/assets/fonts/AvenirNextLTPro-Bold.woff') format('woff');
    font-weight: 650;
    
}

@font-face {
    font-family: 'AvenirNext LT Pro';
    src: url('/src/assets/fonts/AvenirNextLTPro-Regular.woff2') format('woff2'),
        url('/src/assets/fonts/AvenirNextLTPro-Regular.woff') format('woff');
    font-weight: 400;
    
}

@font-face {
    font-family: 'AvenirNext LT Pro';
    src: url('/src/assets/fonts/AvenirNextLTPro-Demi.woff2') format('woff2'),
        url('/src/assets/fonts/AvenirNextLTPro-Demi.woff') format('woff');
    font-weight: 600;
    
}


body {
    font-family: "AvenirNext LT Pro", 'Times New Roman', Times, serif; 
}

h1 {
    font-size: 1.5rem;
    line-height: 2rem; 
    font-family: "AvenirNext LT Pro", 'Times New Roman', Times, serif;
    font-weight: 700;
    color: $primary-color-text;

    @include tablet {
        font-size: 3.75rem;
        line-height: 4.25rem;
    }

    @include desktop {
        font-size: 3.75rem;
        line-height: 4.25rem;
    }
}

h2 {
    font-size: 1.5rem;
    line-height: 2rem;
    font-family: "AvenirNext LT Pro", 'Times New Roman', Times, serif;
    font-weight: 600;
    color: $primary-color-text;

    @include tablet {
        font-size: 2.25rem;
        line-height: 2.75rem;
    }

    @include desktop {
        font-size: 2.25rem;
        line-height: 2.75rem;
    }
}

h3 {
    font-size: .875rem;
    line-height: 1.375rem;
    font-family: 'AvenirNext LT Pro', 'Times New Roman', Times, serif;
    font-weight: 600;
    color: $primary-color-text;

    @include tablet {
        font-size: 1.5rem;
        line-height: 2rem;
    }

    @include desktop {
        font-size: 1.5rem;
        line-height: 2rem;
    }
}

span {
    font-size: .875rem;
    line-height: 1.375rem;
    font-family: 'AvenirNext LT Pro', 'Times New Roman', Times, serif;
    font-style: normal;
    font-weight: 600;
    color: $secondary-text-color;

    @include tablet {
        font-size: 2rem;
        line-height: 2rem;
    }

    @include desktop {
        font-size: 1.5rem;
        line-height: 2rem;
    }
}

p {
    font-size: .8125rem;
    line-height: 1.125rem;
    font-family: 'AvenirNext LT Pro', 'Times New Roman', Times, serif;
    font-weight: 400;
    color: $primary-color-text;

    @include tablet {
        font-size: .875rem;
        line-height: 1.375rem;
    }

    @include desktop {
        font-size: .875rem;
        line-height: 1.375rem;
    }
    
}

footer { 
    @include tablet {
        font-size: .875rem;
        line-height: 1.25rem;
    }

    @include desktop {
        font-size: .875rem;
        line-height: 1.25rem;
    }
}

