$tablet-breakpoint: 48rem; 
$desktop-breakpoint: 80rem; 
$primary-color-text: #323232;
$primary-button-color: #0095FF;
$secondary-text-color: #AFAFAF;
$background-color: #FFFFFF;
$secondary-video: #000000;
$hover-state-color: #0065AD;
$divider-line-color: #E1E1E1; 
$form-background-color: #FAFAFA;

