@use "/src/styles/partials/mixins" as *;
@use "/src/styles/partials/variables" as *;

.upload {
  padding-left: 1rem;
  padding-right: 1rem;
  display: flex;
  flex-direction: column;

  @include tablet {
    padding-left: 2rem;
    padding-right: 2rem;
  }

  @include desktop {
    // padding-left: 3.9375rem;
    // padding-right: 3.9375rem;
  }

  &__publish {
    background-color: $primary-button-color;
    color: $background-color;
    font-weight: 600;
    font-style: normal;
    font-size: 12px;
    border-radius: 4px;
    margin-top: 1rem;
    padding: 0.75rem;
    height: 40px;
    display: flex;
    align-items: center;

    &:hover {
      background-color: $hover-state-color;
    }

    &--img {
      display: flex;
      justify-content: flex-start;
    }

    &--btn {
      border: none;
      background-color: $primary-button-color;
      color: $background-color;
      display: flex;
      width: 100%;
      justify-content: center;

      &:hover {
        background-color: $hover-state-color;
      }

      
    }

    @include tablet {
        display: flex;
        justify-content: flex-end;
        align-self: flex-end;
        align-items: flex-end;
        min-width: 150px;
        height: auto;
        margin-left: 0.5rem;
        margin-right: 1rem;
    }
  }

  &__cancel {
    background-color: $background-color;
    color: $primary-button-color;
    font-weight: 600;
    font-style: normal;
    font-size: 12px;
    border-radius: 4px;
    margin-top: 1rem;
    padding: 0.75rem;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    margin-bottom: 1rem;

    &:hover {
      background-color: $hover-state-color;
    }

    @include tablet {
        display: flex;
        min-width: 150px;
        height: auto;
        margin-left: 0.5rem;
        margin-right: 1rem;
        margin-bottom: 0rem;
    }
  }
}


.container {
    @include tablet {
        margin-top: 2rem;
        padding-top: .5rem;
        border-top: 1px solid $divider-line-color;

        display: flex;
        flex-direction: row-reverse;

    @include desktop {
            margin-left: 3.9375rem;
            margin-right: 3.9375rem;
    }

    }
    &__pub{
        display: flex;

    }
    &__can{
        display: flex;

    }
}