@use "/src/styles/partials/mixins" as *;
@use "/src/styles/partials/variables" as *;

.upload {
  padding-left: 1rem;
  padding-right: 1rem;
  display: flex;
  flex-direction: column;

  @include tablet {
    padding-left: 2rem;
    padding-right: 2rem;
  }

  @include desktop {
    // padding-left: 3.9375rem;
    // padding-right: 3.9375rem;
  }

  

  &__title {
    width: 100%;
    padding-top: 1rem;
    padding-bottom: 1rem;

    @include tablet {
      border-bottom: 1px solid $divider-line-color;
    }

    @include desktop {
        margin-left: 3.9375rem;
        margin-right: 3.9375rem;
        border-bottom: 2px solid $divider-line-color;

    }
  }
}

.wrapper {
    @include desktop {
        display: flex;
        width: 100%;
        border: none;
        margin-left: 3.9375rem;
        margin-right: 3.9375rem;
    }

    &__left {
      @include desktop {
        display: flex;
        width: 50%;
        border: none;
      }
    }

    &__right {
      @include desktop {
        display: flex;
        width: 100%;
        border:none;
      }
    }
  }


.border {
    border-bottom: 1px solid $divider-line-color;

    
    
}
