@use "/src/styles/partials/mixins" as *;
@use "/src/styles/partials/variables" as *;


.comment {
    margin: 1rem;
    border-bottom: 1px solid $divider-line-color;
    color: $primary-color-text;
    font-weight: 600;
    font-style: normal;
    font-size: 12px;
    display: flex;
    flex-direction: row;
    padding-bottom: 1rem;

    @include tablet {
        margin: 16px 2.25rem 16px 2.25rem;
        font-size: .875rem;
        line-height: 1.375rem;
    }

    @include desktop {
        margin-left: 3.9375rem;
        margin-right: 3.9375rem;
        justify-content: center;
        align-content: center;
    }

    &__wrapper {


        &--text {
            display: flex;
            flex-direction: column;
            width: 100%;
            align-items: center;

            &--box {
                display: flex;
                flex-direction: row;
                width: 100%;


            }
        }


        &__details {
            display: flex;
            font-weight: 400;
            font-style: normal;
            font-size: 12px;
            flex-direction: column;
            margin-bottom: 1rem;

            @include tablet {
                font-size: .875rem;
                line-height: 1.375rem;
            }


        }

    }

    &__avatar {
        width: 100%;
        border-radius: 50%;
        background-color: $divider-line-color;
        display: flex;
        object-fit: cover;
        margin-right: 1rem;
        margin-top: 0rem;
        max-width: 2.25rem;
        max-height: 2.25rem;

        @include tablet {
            max-width: 3rem;
            max-height: 3rem;
        }
    }
}

.box {
    display: flex;
    flex-direction: row;
    width: 100%;

    &__name {
        font-weight: 600;
        font-style: normal;
        font-size: 12px;
        display: flex;
        flex-direction: row;
        width: 50%;

        @include tablet {
            font-size: .875rem;
            line-height: 1.375rem;
        }

    }

    &__date {
        width: 50%;
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        font-weight: 400;
        font-style: normal;
        font-size: 12px;

        @include tablet {
            font-size: .875rem;
            line-height: 1.375rem;
        }

    }

}